<form name="form-login" class="row">
	<div class="col lg-12">
		<div class="row">
			<div class="col lg-4 lg-offset-4 md-6 md-offset-3 sm-12 sm-offset-0">
				<span>Login</span><br/>
				<input type="text" name="login" value="ralphy"/>
			</div>
			<div class="col lg-4 lg-offset-4 md-6 md-offset-3 sm-12 sm-offset-0">
				<span>ID</span><br/>
				<input type="text" name="id" value="1000"/>
			</div>
			<div class="col lg-4 lg-offset-4 md-6 md-offset-3 sm-12 sm-offset-0">
				<nav><ul><li><a class="btn" data-action="connect" href="#">Connect</a></li></ul></nav>
			</div>
		</div>
	</div>
</form>
