<div class="row">
	<section class="tab chat">
		<div class="col lg-2">
			<div class="row">
				<div class="col lg-12"><h3>Utilisateurs</h3></div>
			</div>
			<div class="row">
				<div id="ik-user-list" class="col lg-12"></div>
			</div>
		</div>
		<div class="col lg-8">
			<div class="row">
				<div class="col lg-12"><h3>Discussion</h3></div>
			</div>
			<div class="row">
				<div class="col lg-12"><div id="ik-terminal" class="terminal full-height">
					<div class="command"><input type="text" placeholder="Message..." /></div>
				</div></div>
			</div>
		</div>
		<div class="col lg-2">
			<div class="row">
				<div class="col lg-12"><h3>Canaux</h3></div>
			</div>
			<div class="row">
				<div id="ik-chan-list" class="col lg-12"></div>
			</div>
		</div>
	</section>
</div>
